header {
  background-image: url(/src/assets/img/img-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.title-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  transition: transform 0.1ms;
}
.title-nav:hover {
  transform: scale(1.01);
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
}
.title-logotipo {
  margin-left: 3%;
  padding-top: 3%;
  color: var(--three-color);
  font-size: 20px;
  padding-top: 5px;
}
.nav a {
  color: var(--three-color);
  font-size: 23px;
  padding-right: 23px;
}
.nav a:hover {
  cursor: pointer;
  opacity: 0.6;
}
.title-day,
.objective-parade {
  color: var(--one-color);
  font-size: 24px;
  text-align: center;
  margin-top: 6%;
}
.day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.day h3 {
  padding: 15px 20px;
  text-align: center;
  font-size: 25px;
  color: var(--two-color);
}
.image-parading {
  width: 350px;
  height: 500px;
}
.button-form {
  margin: 7% 30% 6% 40%;
  width: 20%;
  height: 7vh;
  background-color: var(--one-color);
  color: var(--three-color);
  border: none;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 5px 5px 5px var(--six-color);
}
.button-form:hover {
  background-color: var(--seven-color);
  color: var(--one-color);
  box-shadow: 5px 5px 5px var(--eight-color);
}
.text-objective {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 33em;
  color: var(--two-color);
  font-size: 28px;
}
.title-location {
  color: var(--one-color);
  font-size: 40px;
  text-align: center;
  margin-top: 7%;
}
.location-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--one-color);
  font-size: 34px;
  margin-top: 5%;
}
.location-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--two-color);
  font-size: 25px;
}
.location-data p {
  width: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}
.image-copan {
  width: 550px;
  height: 360px;
  margin-left: 5%;
  margin-bottom: 5%;
  border: none;
}
.text {
  color: var(--one-color);
  text-align: center;
  font-size: 38px;
  margin-top: 3%;
  margin-bottom: 2%;
}
.confirmation-card img {
  margin-left: 33%;
  width: 35%;
  height: 35vh;
  margin-top: 3%;
  margin-bottom: 5%;
}
.social-networks {
  color: var(--one-color);
  font-size: 38px;
  text-align: center;
  margin-bottom: 3%;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3%;
  font-size: 25px;
  margin-bottom: 3%;
}
